.wrapper span {
  display: inline-block;
}

.wrapper span:last-child {
  margin-bottom: 8px;
}

.wrapper span:not(:last-child) {
  margin-right: 8px;
}

.empty-cart {
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  color: rgb(202, 182, 182);
  display: flex;
  align-items: center;
  justify-content: center;
  mat-icon {
    height: 32px;
    width: 32px;
    font-size: 32px;
  }
}
