<h2>Cart List</h2>
<div class="wrapper">
  <span>
    Total quantity:<strong> {{ totalQuantity }}</strong>
  </span>
  <span>
    Total cost: <strong>{{ totalCost }}</strong>
  </span>
</div>

<div *ngIf="products.length; else emptyCart" class="wrapper">
  <swm-cart
    *ngFor="let product of products; trackBy: trackById"
    [product]="product"
    (delete)="deleteProduct($event)"
    (quantityIncrease)="quantityIncrease($event)"
    (quantityDecrease)="quantityDecrease($event)"
  ></swm-cart>
</div>

<ng-template #emptyCart>
  <p class="empty-cart"><mat-icon>store</mat-icon>Cart is empty</p>
</ng-template>
